.login-sesion {
  //position: relative;
  display: grid;
  z-index: 0;
  grid-template-rows: 2fr 3fr 0.5fr 0.5fr;
  width: 550px;
  height: 510px;
  // background-color: transparent;
  color: #fff;
  border-radius: 10px;
  &_titulo {
    display: grid;
    &-uno {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 40px;
        color: #f1c15b;
      }
      h2 {
        color: #fff;
        font-size: 35px;
      }
    }
  }
  &_inputs {
    color: #f1c15b;
    padding: 0px 60px 0px 50px;
    margin-top: -10px;
    margin-bottom: 5px;
    .space-y-2 {
      margin-top: 30px;
    }
    input {
      border-color: #fff;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      color: #fff;
    }
    label {
      font-family: "Bangers", system-ui;
      font-size: 22px;
    }
    h2 {
      color: #fff;
    }
  }
  &_buton {
    padding-top: 10px;
    button {
      font-size: 22px;
      width: 250px;
      height: 51px;
      border-radius: 5px;
      background-color: #f1c15b;
    }
  }
  &_crear {
    margin: 0;
    color: #ffffff;
  }
}
